html, body
{
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
}

.controls
{
	text-align: center;
}

.control
{
	width: 40px;
	height: 40px;
	margin: 5px;
	border-radius: 5px;
}

.control:hover
{
	cursor: pointer;
}

.addSongButton:hover
{
	cursor: pointer;
}

#mainForm
{
	height: 100%;
	margin: 0 auto;
	padding: 10px;

	font-size: 6vw;
}

#tree
{
	height: 80%;
	overflow-y: scroll;
	margin: 0;
}

#controls
{
	height: 20%;
	margin: 0;
	font-size: 8vw;
}